@import "tailwindcss";
@plugin "daisyui";

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

a.active {
  border: 1px solid black;
  padding: 1px;
}